body{

    background-image: url(Screenshot\ 2024-11-17\ 230448.png);
    color: rgb(29, 28, 28);
    font-size: 65px;text-align: center;
    
}
#rrb{
    float: center;
    height: 350px;
}


#br1{
    float: left;
 }
 #br2{
    float: center;
 }
 #br3{
     float: right;
    
 
 }
 #rd{
    height: 50px;
}
#rb{
    text-align: center;
    font-size: 60px;
}